<!-- This is a basic html page which Flask can serve. 
It does not use the power of Flask, but is easier to read than some of the other files. 
-->

<!DOCTYPE html>
<html>

<!-- learn more about what belongs in head and how it is used here 
https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML -->
<head>
	<title>Code University</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="https://i.pinimg.com/originals/54/bc/73/54bc730782500bd6ed4427f81256f3ea.png" height="auto" width="50" sizes="any" type="image/svg+xml">
</head> 
<body>
    <h1 id="product-sans">This is code</h1>
    <p> Banner goes here</p>
    <p>So far, we are not using the power of Flask, but you will in this assignment!</p>
    <img src="https://code.berlin/content/uploads/8f750e8e-2400x1600.jpg" width="auto" height="500px" alt="code_building_picture">

    <p> To see a page which starts to use Flask to <em>generate</em> dynamic code, <a href="/first-page">click here</a>.</p>
    <p> The third page is linked <a href="/third-page">here</a></p>
</body>
</html>